<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>欢迎</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'backend/lib/layui-v2.5.5/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'backend/lib/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'backend/css/public.css' %}" media="all">
</head>
<style>
    .layui-top-box {
        padding: 40px 20px 20px 20px;
        color: #fff
    }

    .panel {
        margin-bottom: 17px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
    }

    .panel-body {
        padding: 15px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-red {
        color: red
    }

    .main_btn > p {
        height: 40px;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">实时</span>
                                <h5>管理用户</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">{{ users_nums }}</h1>
                                <div class="stat-percent font-bold text-gray"><i
                                        class="fa fa-commenting"></i> {{ users_nums }}
                                </div>
                                {#                                <small>当前分类总记录数</small>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">实时</span>
                                <h5>用户统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">{{ players_nums }}</h1>
                                <div class="stat-percent font-bold text-gray"><i
                                        class="fa fa-commenting"></i> {{ players_nums }}
                                </div>
                                {#                                <small>当前分类总记录数</small>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">实时</span>
                                <h5>题目统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">{{ topic_nums }}</h1>
                                <div class="stat-percent font-bold text-gray"><i
                                        class="fa fa-commenting"></i> {{ topic_nums }}
                                </div>
                                {#                                <small>当前分类总记录数</small>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">实时</span>
                                <h5>分类统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">{{ category_nums }}</h1>
                                <div class="stat-percent font-bold text-gray"><i
                                        class="fa fa-commenting"></i> {{ category_nums }}
                                </div>
                                {#                                <small>当前分类总记录数</small>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="layui-box">#}
{#        <div class="layui-row layui-col-space10">#}
{#            <div class="layui-col-md12">#}
{#                <blockquote class="layui-elem-quote main_btn">#}
{#                    <p>本模板基于layui2.5.4以及font-awesome-4.7.0进行实现。layui开发文档地址：<a#}
{#                            class="layui-btn layui-btn-xs layui-btn-danger" target="_blank"#}
{#                            href="http://www.layui.com/doc">layui文档</a></p>#}
{#                    <p>技术交流QQ群（561838086）：<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5JRGVfe"><img#}
{#                            border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="layuimini"#}
{#                            title="layuimini"></a>（加群请备注来源：如gitee、github、官网等）</p>#}
{#                    <p>喜欢此后台模板的可以给我的GitHub和Gitee加个Star支持一下</p>#}
{##}
{#                </blockquote>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


</div>
<script src="{% static 'backend/lib/layui-v2.5.5/layui.js' %}" charset="utf-8"></script>
</body>
</html>