<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'backend/lib/layui-v2.5.5/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'backend/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">题目名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="topic_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">flag</label>
                            <div class="layui-input-inline">
                                <input type="text" name="flag_strings" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="clear"> 清空</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="{% static 'backend/lib/layui-v2.5.5/layui.js' %}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '{% url "back_images_api" %}',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'username', width: 80, title: '创建者'},
                {field: 'create', minWidth: 150, title: '创建时间', sort: true},
                {field: 'topic_name', width: 120, title: '题目名称'},
                {field: 'image_tag', width: 120, title: '镜像标签'},
                {field: 'pull_status', title: '镜像状态', width: 100, sort: true},
                {field: 'flag_string', minWidth: 150, title: 'flag'},
                {field: 'inside_port', width: 80, title: '端口'},
                {field: 'score', width: 80, title: '分数', sort: true},
                {field: 'display', minWidth: 80, title: '前台展示', sort: true},
                {field: 'type', minWidth: 80, title: '静态分数', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            const result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                const index = layer.open({
                    title: '添加镜像',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{% url "back_images_add" %}',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                layer.confirm('真的删除?', function () {
                    const token = '{{csrf_token}}';

                    const checkStatus = table.checkStatus('currentTableId')
                    const data = checkStatus.data;
                    const arr = [];
                    for (let i = 0, len = data.length; i < len; i++) {
                        arr.push(data[i].uid)
                    }

                    const _data = {"id": arr.join(","), "action": "batch"}

                    $.ajax({
                        url: "{% url 'back_images_show' %}",
                        data: _data,
                        type: 'post',
                        dataType: 'json',
                        headers: {"X-CSRFToken": token},
                        success: function (data) {
                            if (data.status === 200) {
                                {#window.location.reload();#}
                                const index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                                parent.layer.close(index); //再执行关闭
                            } else {
                                alert(data.msg);
                                window.location.reload();
                            }
                        }
                    });

                    return false;
                })
            } else if (obj.event === 'clear') {  // 监听清空操作
                layer.confirm('真的全删除?', function () {
                    const token = '{{csrf_token}}';

                    const _data = {"action": "clear"}

                    $.ajax({
                        url: "{% url 'back_images_show' %}",
                        data: _data,
                        type: 'post',
                        dataType: 'json',
                        headers: {"X-CSRFToken": token},
                        success: function (data) {
                            if (data.status === 200) {
                                {#window.location.reload();#}
                                const index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                                parent.layer.close(index); //再执行关闭
                            } else {
                                alert(data.msg);
                                window.location.reload();
                            }
                        }
                    });

                    return false;
                })
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            const image_id = data.uid;

            if (obj.event === 'edit') {
                const url = "{% url 'back_images_edit'  %}?image_id=" + image_id;

                const index = layer.open({
                    title: '编辑镜像',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: url,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {

                layer.confirm('真的删除?', function () {
                    const token = '{{csrf_token}}';

                    const _data = {"id": obj.data.uid, "action": "each"}

                    $.ajax({
                        url: "{% url 'back_images_show' %}",
                        data: _data,
                        type: 'post',
                        dataType: 'json',
                        headers: {"X-CSRFToken": token},
                        success: function (data) {
                            if (data.status === 200) {
                                window.location.reload();
                            } else {
                                alert(data.msg);
                            }
                        }
                    });

                    return false;
                })

            }
        });

    });
</script>

</body>
</html>